@using Abp.Runtime.Session
@using Asd.AbpZeroTemplate.Web.Areas.Accounting.Models.Layout
@using Asd.AbpZeroTemplate.Web.Areas.Accounting.Views.Shared.Components.AccountingLogo
@model HeaderViewModel
@{
    Layout = null;
}
<a href="@Url.Action("Index", "Home", new {area = string.Empty})" target="_blank" class="brand-logo">
    @await Component.InvokeAsync(typeof(AccountingLogoViewComponent), new {logoSkin = "dark-sm"})
</a>
