@using Asd.AbpZeroTemplate.Web.Areas.Accounting.Models.Layout
@using Asd.AbpZeroTemplate.Web.Areas.Accounting.Views.Shared.Components.AccountingLogo
@model HeaderViewModel
@{
    Layout = null;
}

<div class="header-logo">
    <a href="@Url.Action("Index", "Home", new {area = string.Empty})" class="brand-logo">
        @await Component.InvokeAsync(typeof(AccountingLogoViewComponent), new {logoClass = "logo-default max-h-40px"})
        @await Component.InvokeAsync(typeof(AccountingLogoViewComponent), new {logoSkin = "light", logoClass = "logo-sticky max-h-40px"})
    </a>
</div>
